<div id="update-user-form">
    <div>
        <input type="text" placeholder="Update First Name" ng-model="user.firstname">
    </div>
    <div>
        <input type="text" placeholder="Update Late Name" ng-model="user.lastname">
    </div>
    <div>
        <input type="text" placeholder="Update Email" ng-model="user.email">
    </div>
    <div>
        <input type="password" placeholder="Update Password" ng-model="user.password">
    </div>
    <button id="update-btn" ng-click="updateUser()">Update</button>
</div>